<div
  *ngIf="showContent"
  id="carouselExampleControls"
  class="carousel slide m-auto"
  data-bs-ride="carousel"
  style="background-image: linear-gradient(transparent,#2e2e2e), url(assets/slider-background.png); background-repeat: no-repeat;background-size: cover;background-position: center top;"
>
<div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
  <div class="carousel-inner">

    <div class="carousel-item active">

    <div class="row justify-content-center">

      <div *ngFor="let Videojuego of Videojuegos.slice(0,2);
      index as i;
      let iControl = index
      " class="col-md-4 mb-5 mt-5">
       <div>
          <div class="position-relative">
            <a routerLink="../producto/{{Videojuego.Id}}"><img class="img-fluid my-3 rounded-3" src="assets/{{Videojuego.Portada}}"></a>
          <p  *ngIf="Videojuego.Descuento*100 != 0" class="fs-3 rounded-1 text-light bg-success position-absolute bottom-0 end-0 px-2 py-1">{{Videojuego.Descuento*100}}%</p>
          <img class="fs-3 rounded-1 text-light bg-primary position-absolute bottom-0 start-0 px-3 py-2 mb-3" src="assets/{{Videojuego.Plataforma}}.png">
          </div>
          <div class="text-light d-flex justify-content-center">
            <h3 class="me-5">{{Videojuego.Nombre}}</h3>
            <ng-container *ngIf="Videojuego.Stock >= 1; then MostrarPrecio; else sinStock">
            </ng-container>

            <ng-template #MostrarPrecio>

              <span class="text-decoration-line-through text-danger">{{Videojuego.Precio/Conversion | number : '1.2-2'}}</span> <h3>{{  ((Videojuego.Precio-(Videojuego.Precio*Videojuego.Descuento))/Conversion) | currency:Moneda}}</h3>

            </ng-template>

            <ng-template #sinStock>

                <h3 class="text-warning"> Sin Stock :C</h3>

            </ng-template>
          </div>

        </div>
      </div>


    </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">

        <div *ngFor="let Videojuego of Videojuegos.slice(2,4);
        index as i;
        let iControl = index
        " class="col-md-4 mb-5 mt-5">
            <div>
            <div class="position-relative">
              <a routerLink="../producto/{{Videojuego.Id}}"><img class="img-fluid my-3 rounded-3" src="assets/{{Videojuego.Portada}}"></a>
              <p  *ngIf="Videojuego.Descuento*100 != 0" class="fs-3 rounded-1 text-light bg-success position-absolute bottom-0 end-0 px-2 py-1">{{Videojuego.Descuento*100}}%</p>
              <img class="fs-3 rounded-1 text-light bg-primary position-absolute bottom-0 start-0 px-3 py-2 mb-3" src="assets/{{Videojuego.Plataforma}}.png">
              </div>
            <div class="text-light d-flex justify-content-center">
              <h3 class="me-5" >{{Videojuego.Nombre}}</h3>
              <ng-container *ngIf="Videojuego.Stock >= 1; then MostrarPrecio; else sinStock">
              </ng-container>

              <ng-template #MostrarPrecio>

                <span class="text-decoration-line-through text-danger">{{Videojuego.Precio/Conversion | number : '1.2-2'}}</span> <h3>{{  ((Videojuego.Precio-(Videojuego.Precio*Videojuego.Descuento))/Conversion) | currency:Moneda}}</h3>

              </ng-template>

              <ng-template #sinStock>

                  <h3 class="text-warning"> Sin Stock :C</h3>

              </ng-template>
            </div>

          </div>
        </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="row justify-content-center">

      <div *ngFor="let Videojuego of Videojuegos.slice(4,6);
      index as i;
      let iControl = index
      " class="col-md-4 mb-5 mt-5">
      <div>
          <div class="position-relative">
            <a routerLink="../producto/{{Videojuego.Id}}"><img class="img-fluid my-3 rounded-3" src="assets/{{Videojuego.Portada}}"></a>
            <p *ngIf="Videojuego.Descuento*100 != 0" class="fs-3 rounded-1 text-light bg-success position-absolute bottom-0 end-0 px-2 py-1">{{Videojuego.Descuento*100}}%</p>
            <img class="fs-3 rounded-1 text-light bg-primary position-absolute bottom-0 start-0 px-3 py-2 mb-3" src="assets/{{Videojuego.Plataforma}}.png">
            </div>
          <div class="text-light d-flex justify-content-center">
            <h3 class="me-5">{{Videojuego.Nombre}}</h3>
            <ng-container *ngIf="Videojuego.Stock >= 1; then MostrarPrecio; else sinStock">
            </ng-container>

            <ng-template #MostrarPrecio>

              <span class="text-decoration-line-through text-danger">{{Videojuego.Precio/Conversion | number : '1.2-2'}}</span> <h3>{{  ((Videojuego.Precio-(Videojuego.Precio*Videojuego.Descuento))/Conversion) | currency:Moneda}}</h3>

            </ng-template>

            <ng-template #sinStock>

                <h3 class="text-warning"> Sin Stock :C</h3>

            </ng-template>
          </div>

        </div>
      </div>
  </div>
</div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
