<nav class="navbar navbar-expand-sm navbar-dark">
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="collapsibleNavId">
      <a class="nav-link active ms-3" href="/pagina" aria-current="page"><img src="assets/Logo.png"></a>
        <div class="d-flex my-2 flex-column my-lg-0" >
          <div class="position-relative">
            <img class="position-absolute top-50 start-0 ps-5 translate-middle" src="assets/lupa.png">
            <input [(ngModel)]="busqueda" (keyup.enter)="Busqueda()" class="form-control me-sm-2 ps-5 rounded-pill" type="text" placeholder="Busca en la tienda...">
          </div>
            <div class="d-flex flex-wrap justify-content-evenly text-light my-2">
              <a><div class="me-4 my-1 position-relative bg-secondary  rounded-pill" routerLink="./busqueda/xbox"><img class="position-absolute top-50 start-0 ps-5  translate-middle" src="assets/xbox.png"> <p class="my-0 ps-5 pe-4 text-end">Xbox</p></div> </a>
              <a><div class="me-4 my-1 position-relative bg-secondary  rounded-pill" routerLink="./busqueda/pc"><img class="position-absolute top-50 start-0 ps-5 translate-middle" src="assets/pc.png"><p class="my-0  ps-5 pe-4 text-end">Pc</p></div></a>
              <a><div class="me-4 my-1 position-relative bg-secondary  rounded-pill" routerLink="./busqueda/playstation"><img class="position-absolute top-50 start-0 ps-5 translate-middle" src="assets/playstation.png"><p class="my-0  ps-5 pe-4 text-end" >PlayStation</p></div></a>
                <a><div class=" me-4 my-1  position-relative bg-secondary rounded-pill" routerLink="./busqueda/nintendo"><img class="position-absolute top-50 start-0 ps-5 translate-middle" src="assets/nintendo.png"> <p class="my-0 ps-5 pe-4 text-end">Nintendo</p></div></a>
            </div>
          </div>
        <div>
         <a><img class="pe-4 showtoast" routerLink="./carrito" src="assets/Carrito.png"></a>

         <ng-container *ngIf="this.usuarioCookie; then logeado; else desconectado">
</ng-container>

<ng-template #logeado>

   <a><img class="rounded-circle me-4" height="64px" height="64px" src="assets/{{usuarioCookie.Imagen}}" data-bs-toggle="modal" data-bs-target="#CambiarIcono"></a>

 <div class="modal fade"  id="CambiarIcono" tabindex="-1" aria-
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Cambiar imagen de perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
       aria-label="Close"></button>
      </div>

      <div class="mb-3">
        <input (change)="onFileSelected($event)" class="form-control m-3 w-75" type="file" id="formFile">
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-warning " (click)="Deslogeo()">Desloguearse</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</ng-template>
<ng-template #desconectado>
  <a routerLink="login"><img class="pe-4"  src="assets/Usuario.png"></a>
</ng-template>

        </div>
    </div>
</nav>
